<table class="table table-sm">
    <tr *ngFor="let tarjetaCreditoItem of tarjetaService.list">
        <td>{{tarjetaCreditoItem.titular}}</td>
        <td>{{tarjetaCreditoItem.numeroTarjeta}}</td>
        <td>{{tarjetaCreditoItem.fechaExpiracion}}</td>
        <td><i class="far fa-edit fa-lg text-info" (click)="editar(tarjetaCreditoItem)" style="cursor: pointer;"></i></td>
        <td><i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarTarjeta(tarjetaCreditoItem.id)" style="cursor: pointer;"></i></td>
    </tr>
</table>